Client/web/WEB-INF/wsdl/localhost_8081/Marketplace/Marketplace.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://marketplace/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://marketplace/" name="Marketplace">
<types>
<xsd:schema>
<xsd:import namespace="http://marketplace/" schemaLocation="http://localhost:8081/Marketplace/Marketplace?xsd=1"/>
</xsd:schema>
</types>
<message name="checkAccess">
<part name="parameters" element="tns:checkAccess"/>
</message>
<message name="checkAccessResponse">
<part name="parameters" element="tns:checkAccessResponse"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<message name="formatDate">
<part name="parameters" element="tns:formatDate"/>
</message>
<message name="formatDateResponse">
<part name="parameters" element="tns:formatDateResponse"/>
</message>
<message name="getLiked">
<part name="parameters" element="tns:getLiked"/>
</message>
<message name="getLikedResponse">
<part name="parameters" element="tns:getLikedResponse"/>
</message>
<message name="retrieveProduct">
<part name="parameters" element="tns:retrieveProduct"/>
</message>
<message name="retrieveProductResponse">
<part name="parameters" element="tns:retrieveProductResponse"/>
</message>
<message name="confirmPurchase">
<part name="parameters" element="tns:confirmPurchase"/>
</message>
<message name="confirmPurchaseResponse">
<part name="parameters" element="tns:confirmPurchaseResponse"/>
</message>
<message name="increaseLike">
<part name="parameters" element="tns:increaseLike"/>
</message>
<message name="increaseLikeResponse">
<part name="parameters" element="tns:increaseLikeResponse"/>
</message>
<message name="editProduct">
<part name="parameters" element="tns:editProduct"/>
</message>
<message name="editProductResponse">
<part name="parameters" element="tns:editProductResponse"/>
</message>
<message name="formatTime">
<part name="parameters" element="tns:formatTime"/>
</message>
<message name="formatTimeResponse">
<part name="parameters" element="tns:formatTimeResponse"/>
</message>
<message name="retrieveSales">
<part name="parameters" element="tns:retrieveSales"/>
</message>
<message name="retrieveSalesResponse">
<part name="parameters" element="tns:retrieveSalesResponse"/>
</message>
<message name="addProduct">
<part name="parameters" element="tns:addProduct"/>
</message>
<message name="addProductResponse">
<part name="parameters" element="tns:addProductResponse"/>
</message>
<message name="FileNotFoundException">
<part name="fault" element="tns:FileNotFoundException"/>
</message>
<message name="retrieveId">
<part name="parameters" element="tns:retrieveId"/>
</message>
<message name="retrieveIdResponse">
<part name="parameters" element="tns:retrieveIdResponse"/>
</message>
<message name="deleteProduct">
<part name="parameters" element="tns:deleteProduct"/>
</message>
<message name="deleteProductResponse">
<part name="parameters" element="tns:deleteProductResponse"/>
</message>
<portType name="Marketplace">
<operation name="checkAccess">
<input wsam:Action="http://marketplace/Marketplace/checkAccessRequest" message="tns:checkAccess"/>
<output wsam:Action="http://marketplace/Marketplace/checkAccessResponse" message="tns:checkAccessResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://marketplace/Marketplace/checkAccess/Fault/IOException"/>
</operation>
<operation name="formatDate">
<input wsam:Action="http://marketplace/Marketplace/formatDateRequest" message="tns:formatDate"/>
<output wsam:Action="http://marketplace/Marketplace/formatDateResponse" message="tns:formatDateResponse"/>
</operation>
<operation name="getLiked">
<input wsam:Action="http://marketplace/Marketplace/getLikedRequest" message="tns:getLiked"/>
<output wsam:Action="http://marketplace/Marketplace/getLikedResponse" message="tns:getLikedResponse"/>
</operation>
<operation name="retrieveProduct">
<input wsam:Action="http://marketplace/Marketplace/retrieveProductRequest" message="tns:retrieveProduct"/>
<output wsam:Action="http://marketplace/Marketplace/retrieveProductResponse" message="tns:retrieveProductResponse"/>
</operation>
<operation name="confirmPurchase">
<input wsam:Action="http://marketplace/Marketplace/confirmPurchaseRequest" message="tns:confirmPurchase"/>
<output wsam:Action="http://marketplace/Marketplace/confirmPurchaseResponse" message="tns:confirmPurchaseResponse"/>
</operation>
<operation name="increaseLike">
<input wsam:Action="http://marketplace/Marketplace/increaseLikeRequest" message="tns:increaseLike"/>
<output wsam:Action="http://marketplace/Marketplace/increaseLikeResponse" message="tns:increaseLikeResponse"/>
</operation>
<operation name="editProduct">
<input wsam:Action="http://marketplace/Marketplace/editProductRequest" message="tns:editProduct"/>
<output wsam:Action="http://marketplace/Marketplace/editProductResponse" message="tns:editProductResponse"/>
</operation>
<operation name="formatTime">
<input wsam:Action="http://marketplace/Marketplace/formatTimeRequest" message="tns:formatTime"/>
<output wsam:Action="http://marketplace/Marketplace/formatTimeResponse" message="tns:formatTimeResponse"/>
</operation>
<operation name="retrieveSales">
<input wsam:Action="http://marketplace/Marketplace/retrieveSalesRequest" message="tns:retrieveSales"/>
<output wsam:Action="http://marketplace/Marketplace/retrieveSalesResponse" message="tns:retrieveSalesResponse"/>
</operation>
<operation name="addProduct">
<input wsam:Action="http://marketplace/Marketplace/addProductRequest" message="tns:addProduct"/>
<output wsam:Action="http://marketplace/Marketplace/addProductResponse" message="tns:addProductResponse"/>
<fault message="tns:FileNotFoundException" name="FileNotFoundException" wsam:Action="http://marketplace/Marketplace/addProduct/Fault/FileNotFoundException"/>
</operation>
<operation name="retrieveId">
<input wsam:Action="http://marketplace/Marketplace/retrieveIdRequest" message="tns:retrieveId"/>
<output wsam:Action="http://marketplace/Marketplace/retrieveIdResponse" message="tns:retrieveIdResponse"/>
</operation>
<operation name="deleteProduct">
<input wsam:Action="http://marketplace/Marketplace/deleteProductRequest" message="tns:deleteProduct"/>
<output wsam:Action="http://marketplace/Marketplace/deleteProductResponse" message="tns:deleteProductResponse"/>
</operation>
</portType>
<binding name="MarketplacePortBinding" type="tns:Marketplace">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="checkAccess">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="formatDate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLiked">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="confirmPurchase">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="increaseLike">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="formatTime">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveSales">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FileNotFoundException">
<soap:fault name="FileNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="retrieveId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Marketplace">
<port name="MarketplacePort" binding="tns:MarketplacePortBinding">
<soap:address location="http://localhost:8081/Marketplace/Marketplace"/>
</port>
</service>
</definitions>