Client/web/WEB-INF/wsdl/localhost_8081/Marketplace/Marketplace.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://marketplace/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://marketplace/">

<xs:element name="IOException" type="tns:IOException"/>

<xs:element name="Product" type="tns:product"/>

<xs:element name="checkAccess" type="tns:checkAccess"/>

<xs:element name="checkAccessResponse" type="tns:checkAccessResponse"/>

<xs:element name="retrieveProduct" type="tns:retrieveProduct"/>

<xs:element name="retrieveProductResponse" type="tns:retrieveProductResponse"/>

<xs:complexType name="retrieveProduct">
<xs:sequence>
<xs:element name="token" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="searchtype" type="xs:string" minOccurs="0"/>
<xs:element name="value" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveProductResponse">
<xs:sequence>
<xs:element name="Product" type="tns:product" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="product">
<xs:sequence>
<xs:element name="product_id" type="xs:int"/>
<xs:element name="product_name" type="xs:string"/>
<xs:element name="description" type="xs:string"/>
<xs:element name="likes" type="xs:int"/>
<xs:element name="added_date" type="xs:dateTime"/>
<xs:element name="price" type="xs:long"/>
<xs:element name="image" type="xs:string"/>
<xs:element name="seller_id" type="xs:int"/>
<xs:element name="username" type="xs:string"/>
<xs:element name="purchases" type="xs:int"/>
<xs:element name="status" type="xs:string"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkAccess">
<xs:sequence>
<xs:element name="token" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkAccessResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="IOException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>