Client/web/WEB-INF/wsdl/localhost_8081/Marketplace/Marketplace.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://marketplace/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://marketplace/" name="Marketplace">
<types>
<xsd:schema>
<xsd:import namespace="http://marketplace/" schemaLocation="http://localhost:8081/Marketplace/Marketplace?xsd=1"/>
</xsd:schema>
</types>
<message name="checkAccess">
<part name="parameters" element="tns:checkAccess"/>
</message>
<message name="checkAccessResponse">
<part name="parameters" element="tns:checkAccessResponse"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<message name="retrieveProduct">
<part name="parameters" element="tns:retrieveProduct"/>
</message>
<message name="retrieveProductResponse">
<part name="parameters" element="tns:retrieveProductResponse"/>
</message>
<portType name="Marketplace">
<operation name="checkAccess">
<input wsam:Action="http://marketplace/Marketplace/checkAccessRequest" message="tns:checkAccess"/>
<output wsam:Action="http://marketplace/Marketplace/checkAccessResponse" message="tns:checkAccessResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://marketplace/Marketplace/checkAccess/Fault/IOException"/>
</operation>
<operation name="retrieveProduct">
<input wsam:Action="http://marketplace/Marketplace/retrieveProductRequest" message="tns:retrieveProduct"/>
<output wsam:Action="http://marketplace/Marketplace/retrieveProductResponse" message="tns:retrieveProductResponse"/>
</operation>
</portType>
<binding name="MarketplacePortBinding" type="tns:Marketplace">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="checkAccess">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="retrieveProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Marketplace">
<port name="MarketplacePort" binding="tns:MarketplacePortBinding">
<soap:address location="http://localhost:8081/Marketplace/Marketplace"/>
</port>
</service>
</definitions>